
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Artis Management</h2>
@Html.ActionLink("Register New Artist", "RegisterArtist", "BookingManagement", null, new { @class = "btn btn-primary" })

